<%= render "shared/navbar" %>
<section class="landing-section">
  <div class="main-picture">
  </div>
  <div class="content">
    <div class="slogan">
      <p>Learn It, Store It, Retain It</p>
    </div>
    <div class="main-text">
      <h1>Create, Organise, Share.</h1>
    </div>
    <div class="support-text">
      <p>Your own personal digital notebook of knowledge. A simple, organisational web application to help you track your learning progress with the ability to share key milestones.</p>
    </div>
    <div class="buttons">
      <%= link_to "Get Started", "#", class: "primary-button" %>
      <%= link_to "Discover More", "#", class: "secondary-button" %>
    </div>
  </div>
</section>
