<%= render "shared/navbar" %>
<section class="landing-section">
  <div class="main-picture">
    <%# <div class="svgContainer">
      <%# <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><lottie-player src="https://lottie.host/29bb7105-ced3-4178-88a2-f799e0361401/vQ08u7baXF.json" background="#FFFFFF" speed="1" style="width: 300px; height: 300px" loop controls autoplay direction="1" mode="normal"></lottie-player> %>
    <%# </div> %>
  </div>
  <div id="bm">
  </div>
  <div class="content">
    <div class="slogan">
      <p>Learn It, Store It, Retain It</p>
    </div>
    <div class="main-text">
      <h1>Create, Organise, Share.</h1>
    </div>
    <div class="support-text">
      <p>Your own personal digital notebook of knowledge. A simple, organisational web application to help you track your learning progress with the ability to share key milestones.</p>
    </div>
    <div class="buttons">
      <%= link_to "Get Started", "#", class: "primary-button" %>
      <%= link_to "Discover More", "#", class: "secondary-button" %>
    </div>
  </div>
</section>
<footer>

</footer>
