<%= render "shared/navbar" %>
<section class="landing">
  <div id="landing__main-image">
  </div>
  <div class="landing__content">
    <div class="landing__slogan">
      <p>Learn It, Store It, Retain It</p>
    </div>
    <div class="landing__main-text">
      <h1>Create, <span class="landing__main-text-right">Organise,</span> Share.</h1>
    </div>
    <div class="landing__support-text">
      <p>Your own personal digital notebook of knowledge. A simple, organisational web application to help you track your learning progress with the ability to share key milestones.</p>
    </div>
    <div class="landing__buttons">
      <%= link_to "Get Started", "#", class: "landing__primary-button" %>
      <%= link_to "Discover More", "#", class: "landing__secondary-button" %>
    </div>
  </div>
</section>
