.landing {

  width: 80%;
  margin: 0 auto; /* We do this so we can center the landing horizontally*/
  margin-top: 2rem;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: -webkit-linear-gradient(to right, #FFE4CB, #F3E9D9, #E8E0E1, #D9D4EC);
  background: linear-gradient(to right, #FFE4CB, #F3E9D9, #E8E0E1, #D9D4EC);
  border-radius: 45px;

  position: relative;

  #landing__main-image {
    height: 65vh;
  }

  &__slogan {
    font-size: 1.3rem;
    letter-spacing: 0.01rem;
    font-weight: 500;
  }

  &__main-bg-image {
    position: absolute; /* Position it behind the text */
    top: 15vh;
    left: 36vh;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 11vh;
  }

  &__main-text {
    font-size: 3.5rem;
    line-height: 5rem;
    position: relative;
  }

  &__main-text-right {
    display: inherit;
    text-align: right;
    position: relative;
    right: 15vh;
    z-index: 2;
  }

  &__support-text {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

h1 {
  margin: 0;
}
