.landing {
  width: 80%;
  margin: 0 auto; /* We do this so we can center the landing horizontally*/
  margin-top: 2rem;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: -webkit-linear-gradient(
    to right,
    #ffe4cb,
    #f3e9d9,
    #e8e0e1,
    #d9d4ec
  );
  background: linear-gradient(to right, #ffe4cb, #f3e9d9, #e8e0e1, #d9d4ec);
  border-radius: 45px;

  position: relative;

  #landing__main-image {
    height: 65vh;
    z-index: 1;
  }

  &__slogan {
    font-size: 1.3rem;
    letter-spacing: 0.01rem;
    font-weight: 500;
  }

  &__main-bg-image {
    position: absolute; /* Position it behind the text */
    top: 11.5vh;
    left: 25vh;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 11vh;
  }

  &__main-text {
    font-size: 3.5rem;
    line-height: 5rem;
    position: relative;
  }

  &__main-text-right {
    display: inherit;
    text-align: right;
    position: relative;
    right: 15vh;
    z-index: 2;
  }

  &__support-text {
    font-size: 1.2rem;
    font-weight: 400;
  }

  &__circle {
    width: 381px;
    height: 381px;
    border-radius: 50%;

    background: -webkit-linear-gradient(
      30deg,
      #ff6636 0%,
      #ff9518 35%,
      #ffb700 50%,
      #71cda1 80%,
      #00d9ff 85%
    );
    background: -moz-linear-gradient(
      30deg,
      #ff6636 0%,
      #ff9518 35%,
      #ffb700 50%,
      #71cda1 80%,
      #00d9ff 85%
    );
    background: -o-linear-gradient(
      30deg,
      #ff6636 0%,
      #ff9518 35%,
      #ffb700 50%,
      #71cda1 80%,
      #00d9ff 85%
    );
    background: linear-gradient(
      30deg,
      #ff6636 0%,
      #ff9518 35%,
      #ffb700 50%,
      #71cda1 80%,
      #00d9ff 85%
    );

    position: absolute;
    left: 15vh;
    top: 15vh;
  }

  &__buttons {
    position: relative;
    margin-top: 6rem;
  }

  &__primary-button {
    background-color: $light-pink;
    color: $off-pink;
    top: -17px;
    left: -4px;
  }

  &__primary-button:hover {
    top: -11px;
    left: 0px;
  }

  &__secondary-button {
    margin-left: 5rem;
    top: -17px;
    left: 280px;
  }

  &__secondary-button:hover {
    top: -11px;
    left: 284px;
  }
}

h1 {
  margin: 0;
}

.button.button-top.landing__primary-button {
  background-color: $dark-pink;
}
.button.button-top.landing__secondary-button {
  background-color: $off-pink;
  color: $dark-pink;
}
