@mixin button{
  padding: 10px 90px;
  border: 1.8px solid #000000;
  background-color: $light-pink;
  outline: none;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;

  &.button-top {
    position: absolute;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
      transition: .2s ease-in-out;
    }
  }
}
